# Modulo 06 - Módulo Avançado

## Apply, Map, Lambda

### APPLY

O que é: uma maneira semelhante ao MAP de aplicar uma função pré-definida a uma estrutura de dados. (apply é um método específico da biblioteca 'pandas' e pode ser chamado pelo .apply)

In [2]:
import pandas as pd

In [21]:
# dataframe
df = pd.DataFrame([['nome1',80,170],['nome2',70,165],['nome3',65,150]],
                  columns = ['nome','peso','altura'] )
# função pré-definida
f_imc = lambda x: x['peso'] / (x['altura'] ^ 2) * 100
# apply
df['imc'] = df[['peso','altura']].apply(f_imc, axis=1)
# df['imc'] = df.apply(lambda x: round(x['peso'] / (x['altura'] ^ 2)*100, 2) , axis=1)
df

    nome  peso  altura        imc
0  nome1    80     170  47.619048
1  nome2    70     165  41.916168
2  nome3    65     150  43.918919

### MAP

O que é: uma maneira de aplicar uma função pré-definida em uma dada estrutura de dados.

In [19]:
lista = ['A','B','C','D','E','F','G','H','I','J']
# função pré-definida
snakecase = lambda x: x.lower()
# map
list( map( snakecase, lista ) )

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

### LAMBDA

O que é: uma maneira alternativa de definir uma função. O método tradicional é através do 'def'.<br>
Método Tradicional: resume trechos repetitivos de comandos reutilizados em outras partes do código. Ideal para realizar cálculos e tarefas complexas.

In [22]:
def calculation (a,b):
    c = a + b
    return c

In [23]:
calculation(10,20)

30

Método Alternativo: sintetiza cálculos locais simples de maneira concisa e direta

In [25]:
f_calculation = lambda a, b: a+b
f_calculation(10,20)

30